@charset "utf-8";

/* BTN */
.btn {
  position: relative;
  display: inline-block;
  height: 5.7rem;
  background: #2500f9;
  padding: 2.2rem 3.9rem;
  border-radius: 28px;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.4s;
}
.btn > a {
  position: relative;
  color: #fff;
  z-index: 1;
}
.btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2500f9 23%, #0066ff 100%);
  border-radius: 28px;
  transition: all 0.4s;
}
.btn:hover::after { left: 0; }


/* FLOAT CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}

/* HIDE */
.hide { text-indent: -9999em; }

/* SUMMARY */
.summary-title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #242f51;
  line-height: 1.25;
  margin-bottom: 3.4rem;
}
.summary-description {
  font-size: 2.6rem;
  font-weight: 400;
  color: #616368;
  line-height: 1.5;
}
.summary-sub-title {
  font-size: 2rem;
  font-weight: 600;
  color: #242f51;
  line-height: 1.25;
  margin-bottom: 1.6rem;
}
.summary-sub-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #242f51;
  line-height: 1.5;
}
.red {
  font-size: 2rem;
  font-weight: 600;
  color: #f55767;
}
.blue {
  font-size: 2rem;
  font-weight: 600;
  color: #2563ff;
}
.green {
  font-size: 2rem;
  font-weight: 600;
  color: #40975f;
}

/* INNER */
.inner {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* SECTION */
.section {
  max-width: 1400px;
  box-sizing: border-box;
}

/* HEADER */
.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10rem;
  z-index: 1;
}
.header.stiky { background: rgba(255, 255, 255, .9); }
.toggle-btn {
  width: 3.5rem;
  height: 3rem;
  position: fixed;
  top: 3rem;
  right: 2rem;;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.line {
  width: 100%;
  height: 3px;
  background: #242f51;
  transition: all .4s;
}
.active .line-1 {
  transform: rotateZ(-45deg) translate(-5px, 3px);
}
.active .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
}
.active .line-2 {
  opacity: 0;
}

.nav .gnb {
  display: flex;
  /* margin-left: 27rem; */
}
.nav .gnb > li {
  margin-left: 4rem;
  padding: 0.5rem;
  transition: all 0.4s;
}
.nav .gnb > li > a {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  color: #242f51;
  display: inline-block;
}
.nav .gnb > li > a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #3c4c7d;
  transition: all 0.4s;
}
.nav .gnb > li:hover a::after { left: 0; width: 100%; }


/* MAIN */
.main {
  width: 100%;
}
.main-container {
  max-width: 100%;
  height: 80rem;
  background: url(../images/main-bg.jpg) no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10rem 7rem 0 7rem; */
  box-sizing: border-box;
}
.main-content .choice {
  position: relative;
  max-width: 520px;
  /* height: 368px; */
  color: #242f51;
  margin-top: 8rem;
  box-sizing: border-box;
}
.main-content .main-img { margin-top: 14rem; }
.choice .txt {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  background: #e2eaed;
  padding: 1rem 4.5rem;
  border-radius: 28px;
  box-sizing: border-box;
}
.choice .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.choice .title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 2.4rem 0;
}
.choice .sub-title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #616368;
  margin-bottom: 4rem;
}
.main-img {
  width: 30rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 5.4rem;
}

/* COMPANIES */
.companies {
  margin: 11.6rem 0; 
}
.companies-logo {
  padding: 0 11.7rem;
  text-align: center;
  box-sizing: border-box;
}
.companies-logo > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
.app-container {
  display: flex;
  justify-content: space-around;
  margin: 14rem 0;
}
.app-container .phon-wrap {
  margin-left: 13.7rem;
}
.app-tit {
  max-width: 43rem;
}
.app-icon {
  display: flex;
  align-items: center;
  margin-top: 9rem;
  box-sizing: border-box;
}
/* .smart-icon .icon-wrap { margin-left: 3rem; }  */
.icon-wrap > li { margin-bottom: 6rem; }
.icon-description > li {
  font-size: 1.6rem;
  color: #616368;
  text-align: justify;
  margin-bottom: 6rem;
}
.icon-description > li > strong {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.2rem;
}

.smart-container {
  margin: 0 auto;
}
.smart-tit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 11.4rem auto;
}
.smart-tit .summary-title {
  margin-left: 5rem;
}
.smart-tit .summary-sub-description {
  margin: 0 auto;
}
.smart-icon { 
  display: flex;
  justify-content: space-around;
  margin-bottom: 11.5rem;
  box-sizing: border-box;
}
.smart-icon .icon-wrap li {
  margin: 0;
}
.smart-icon .icon-wrap li:first-child { margin-bottom: 3rem; }
.smart-icon .icon-wrap li.red,
.smart-icon .icon-wrap li.blue,
.smart-icon .icon-wrap li.green
{ margin-bottom: 1.7rem; }

.designed-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.designed-container .btn { margin-top: 4rem;}

/* CHOOSE */
.choose {
  text-align: center;
  margin-bottom: 19rem;
}
.choose .choose-tit { margin-bottom: 9.5rem; }
.choose-icon {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.choose-icon .icon-wrap {
  margin: 0 0 3rem 7rem;
}
/* .choose-icon .icon-wrap:nth-child(3),
.choose-icon .icon-wrap:nth-child(6) 
{ margin-left: 0; } */
.choose-icon .icon-wrap li { margin: 0; }
.choose-icon .icon-wrap > .summary-sub-title { margin: 3.6rem 0 1.7rem; }

/* ULTIMATE */
.ultimate { 
  position: relative; 
  margin-bottom: 17.4rem;
  box-sizing: border-box;
}
.ultimate-icon { 
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 6rem 0 0;
  box-sizing: border-box;
}
.ultimate-icon .icon-wrap {
  margin: 0 9.4rem 7rem 0;
}
.ultimate-icon .icon-wrap:nth-child(2),
.ultimate-icon .icon-wrap:nth-child(4) 
{ margin-right: 0; }
.ultimate-icon .icon-wrap li { margin: 0; }

.phon-wrap2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  overflow: hidden;
}

/* PAYMENT */
.payment {
  text-align: center;
  margin-bottom: 8rem; 
}
.select-container { margin-top: 4rem; }
.select-wrap {
  display: inline-block;
  max-width: 31.8rem;
  /* height: 55.3rem; */
  margin-right: 4rem; 
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* display: none; */
}
.select-wrap.margin { margin-right: 0; }
.select-wrap > .price {
  width: 100%;
  height: 42%;
  padding: 7.1rem 5.8rem 4.3rem 6.2rem;
  background: #fbfcfd;
  border-radius: 20px;
  box-sizing: border-box;
}
.price > .price-num {
  font-size: 6rem;
  font-weight: 700;
  color: #242f51;
  margin-bottom: 2.8rem;
}
.price > .price-num > span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #999ca5;
}
.price > .price-txt {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #242f51;
}
.price > .price-txt > span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #999ca5;
}
.summary-sub-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #242f51;
  line-height: 1.5;
}
.select-container {
  position: relative;
}
/* #select1 { display: inline-block; } */
.select-container2 {
  position: absolute;
  top: 32.3%;
  left: 0;
  right: 0;
  /* transform: translateY(50%); */
}
.select-wrap > .select-txt {
  height: auto;
  padding: 4rem 8rem;
  background: #fff;
  box-sizing: border-box;
}
.select-wrap > .select-txt > p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3;
  color: #999ca5;
}
.select-wrap > .btn { margin-bottom: 2.5rem; }

/* FOOTER */
footer {
  width: 100%;
  padding: 11.6rem 0;
  margin: 0 auto;
  text-align: center;
  background: #242f51;
  box-sizing: border-box;
}
.footer-list { margin: 5.2rem 0;}
.footer-list > li{
  display: inline-block;
  padding: 0.5rem;
  margin-left: 4rem;
}
.footer-list > li > a,
.sns > li > a {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .6);
  transition: color .3s;
}
.footer-list > li:hover a,
.sns > li:hover a
 { color: rgba(255, 255, 255, 1); }
.sns > li {
  display: inline-block;
  padding: .5rem;
  margin: 0 0 9rem 2.2rem;
}
.sns > li > a {
  font-size: 3rem;
}
.footer-wrap > .copy {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, .6);
}

#back-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  opacity: 0;
  transition: color .3s;
  font-size: 3.5rem;
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
}
#back-to-top:hover { color: #fff; }
#back-to-top.visible { opacity: 1; }


@media screen and (max-width: 1024px){
  .header { justify-content: space-around; }
  .header .gnb > li { margin-left: 1.5rem; }
  .main-img { margin-left: 2rem; }
  .app-container .phon-wrap { margin: 0 2rem 0 1rem; }
  .app-container .phon-wrap > img { max-width: 45rem; }
  .app-tit { margin-right: 1rem; }
  .companies-logo { padding: 0; }
  .icon-description > li { text-align: left; }
  .designed-container > img {  width: 40%; }
  .ultimate-tit { box-sizing: border-box; padding-left: 5rem; }
  .ultimate-icon { margin: 6rem 5rem 0; }
  .ultimate > .btn { margin-left: 5rem; }
  .smart-icon { max-width: 90vw; margin: auto; margin-bottom: 7rem; }
  .ultimate-icon .icon-wrap { margin: 0 3rem 3rem 0; z-index: 1; }
  .phon-wrap2 > img { width: 45rem; }
}

@media screen and (max-width: 870px){
  /* .choose-icon .icon-wrap:nth-child(odd) { margin-left: 0; }  */
  .main-content .choice { margin-left: 2rem; }
  .choice .title { font-size: 4rem; }
  .main-content .main-img {
    width: 30%;
    margin-right: 2rem; 
    box-sizing: border-box;
  }

  .choose-icon .icon-wrap  {margin-right: 2rem; }
  .ultimate-tit { margin-bottom: 5rem; }
  .ultimate-icon {
    justify-content: center;
    width: 90%;
    margin: auto;
  }
  .ultimate-icon .icon-wrap { margin: 0 5rem 3rem 0; }
  .phon-wrap2 { display: none; }
}

@media screen and (max-width: 720px){
  .nav {
    position: fixed;
    top: 10rem;
    right: -80%; 
    width: 80%;
    height: 100%;
    background: rgba(250, 250, 250, .8);
    padding: 5%;
    box-sizing: border-box;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    display: none;
  }
  .nav.active { display: flex; right: 0; }
  .nav .gnb {
    flex-direction: column;
    align-items: center;
  }
  .nav .gnb > li {
    margin-bottom: 4rem;
    padding: 0.5rem;
    z-index: 2;
  }
  .nav .gnb > li > a {
    font-size: 4.8rem;
    font-weight: 700;
  }
  .header .btn { display: none; }
  .toggle-btn { display: flex; }

  .choice .icon,
  .choice .txt {display: none;}
  .choice .sub-title {
    font-size: 1.4rem;
    line-height: 1.3;
  } 
  .choose-icon .icon-wrap { margin: 2rem; }
  .main-content .main-img { width: 50%; height: auto;}

  .companies-logo {
    padding: 0 11.7rem;
    text-align: center;
    box-sizing: border-box;
  }
  .companies-logo > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
  }
  .companies-logo ul > li {
    margin: 2rem 0 2rem 3rem;
  }
  .app-container {
    display: flex;
    justify-content: space-around;
    margin: 6rem 0;
  }
  .app-container .phon-wrap {
    display: none;
  }
  .app-tit {
    width: 43rem;
  }
  .icon-wrap > li {
    margin-right: 4rem;
  }

  .app-icon {
    display: flex;
    align-items: center;
    margin-top: 9rem;
    box-sizing: border-box;
  }
  .icon-wrap > li { margin-bottom: 6rem; }
  .icon-description > li {
    font-size: 1.6rem;
    color: #616368;
    text-align: justify;
    margin-bottom: 6rem;
  }
  .icon-description > li > strong {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.2rem;
  }
  
  .smart-icon { 
    display: flex;
    justify-content: space-around;
    margin-bottom: 11.5rem;
    box-sizing: border-box;
  }
  .smart-icon .icon-wrap {
    margin-right: 2rem;
  }
  .smart-icon .icon-wrap:last-child { margin-right: 0; }
  
  .designed-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .designed-container > img { margin-right: 2rem; }
  .designed-container .btn { margin-top: 4rem;}

  .ultimate-icon .icon-wrap { margin: 0 0 4rem 0; }
  .ultimate-icon .icon-wrap:nth-child(1) { margin-right: 2rem; }
  .ultimate-icon .icon-wrap:nth-child(3) { margin-right: 2rem; }

  .select-wrap { margin: 0 0 4rem 0; }
  .footer-list > li{ margin-left: 1rem; }
  .footer-list > li:first-child { margin-left: 0; }
  
}